@media only screen and (max-width: 63.9375em) {
    .categories-container {
        &:nth-child(2n) {
            margin-top: 50px;
        }
    }
}

@media only screen and (max-width: 37.5em) {
    .categories-container {

        flex-direction: column;
        height        : auto !important;
        padding       : 10px 0 30px 0;

        .content-left {
            img {
                position: unset;
            }
        }

        .content-right {
            position   : unset;
            text-align : center;
            margin-left: 0 !important;

            .categories-name {}

            .categories-button {


                &:hover {}
            }
        }
    }
}