.header-container {
    height          : 75px;
    position        : fixed;
    top             : 0;
    right           : 0;
    left            : 0;
    box-shadow      : 1px 1px 15px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    z-index         : 1;
    padding         : 0 10px;


    .header-content {
        width          : 1200px;
        height         : 100%;
        margin         : 0 auto;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .header-icon-menu {
            display: none;
        }

        .content-left {
            display        : flex;
            justify-content: space-between;
            align-items    : center;


            .header-logo {
                font-family    : var(--font-varela);
                color          : #333;
                font-size      : 2.2rem;
                font-weight    : 550;
                margin-right   : 20px;
                cursor         : pointer;
                text-decoration: none;
            }

            .header-menu {
                height         : 100%;
                display        : flex;
                justify-content: space-between;
                align-items    : center;
                list-style     : none;
                gap            : 30px;
                margin         : auto 0;
                font-family    : var(--font-open);
                font-size      : 1.4rem;
                opacity        : 0.9;

                .header-menu-item {
                    cursor: pointer;

                    &:hover {
                        color  : var(--primary);
                        opacity: 0.8;
                    }
                }

            }
        }

        .content-right {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            font-family    : var(--font-open);
            font-size      : 1.4rem;
            opacity        : 0.9;


            .header-cart {
                display    : flex;
                align-items: center;
                margin     : auto 0;
                cursor     : pointer;

                .header-icon-cart {
                    margin: 0 12px;
                    color : #000;
                }


            }

            .header-user {
                display        : flex;
                justify-content: center;
                align-items    : center;
                margin-right   : 2px;

                .dropdown {
                    position: relative;
                    display : inline-block;


                    p {
                        transform: translateY(10px);
                    }
                }

                .dropdown-content {
                    display         : none;
                    position        : absolute;
                    background-color: #fff;
                    min-width       : 160px;
                    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
                    z-index         : 1;
                    margin-top      : 10px;
                    right           : -15px;
                    border-radius   : 4px;

                    &::after {
                        content: "";

                        border-left  : 10px solid transparent;
                        border-right : 10px solid transparent;
                        border-bottom: 10px solid #fff;
                        position     : absolute;
                        top          : -6px;
                        right        : 10px;
                    }

                    &::before {
                        content : "";
                        display : block;
                        position: absolute;
                        top     : -14px;
                        right   : 0;
                        width   : 65%;
                        height  : 18px;

                    }
                }


                .dropdown-content .dropdown-link {
                    color          : black;
                    padding        : 12px 16px;
                    text-decoration: none;
                    display        : block;
                }

                .dropdown-content .dropdown-link:hover {
                    background-color: #f1f1f1;

                }

                .dropdown:hover .dropdown-content {
                    display: block;
                }


            }

            .header-count {
                display         : inline-block;
                padding         : 1px 4px;
                background-color: var(--primary);
                border-radius   : 10px;
                font-size       : 1.2rem;
                color           : var(--white);
                font-weight     : 600;
                cursor          : pointer;
                margin          : auto 0;
            }

            .header-icon-menu {
                display: none;
            }
        }
    }
}