.toy-manage-container {
    input {
        font-size: 1.6rem;
    }

    table {
        border-collapse: collapse;
        width          : 100%;
    }

    th,
    td {
        padding      : 8px;
        text-align   : left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: coral;
    }

    .image-place {
        display        : flex;
        justify-content: center;
        align-items    : flex-end;

        input {
            display: none;

        }

        .preview-image {
            height: 50px;
            width : 100%;

            background     : center center no-repeat;
            background-size: contain;
            cursor         : pointer;
        }
    }
}