@media only screen and (max-width: 76.875em) {
    .toy-section-container {
        width: 85%;

        .toy-section-header {


            .title {}

            .catalog-button {


                p {

                    &.active {}
                }
            }

            .see-all-toy-button {


                &:hover {}

                .icon {}
            }
        }

        .toy-section-strikethrough {



            .line1 {}

            .line2 {}
        }

        .list-toy {
            grid-template-columns: 1fr 1fr;
        }


    }
}

// /_ Mobile: width < 740px _/
@media only screen and (max-width: 46.1875em) {
    .toy-section-container {
        width: 85%;

        .toy-section-header {


            .title {}

            .catalog-button {


                p {

                    &.active {}
                }
            }

            .see-all-toy-button {


                &:hover {}

                .icon {}
            }
        }

        .toy-section-strikethrough {



            .line1 {}

            .line2 {}
        }

        .list-toy {
            grid-template-columns: 1fr;
        }


    }
}