.homepage-main {
    overflow: hidden;

    background           : center center no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    width                : 100vw;
    height               : auto;



    .homepage-container {
        width      : 100%;
        height     : auto;
        // position: absolute;
        z-index    : 1 !important;

        .homepage-poster {
            width           : 100%;
            height          : 80vh;
            min-height      : 80vh;
            position        : relative;
            background-color: #f8f8f8;
            overflow        : hidden;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }

            .poster-notify {
                position        : absolute;
                top             : 50%;
                left            : 50%;
                // max-width: 40%;
                min-height      : 308px;
                width           : 570px;
                background-color: #fff;
                border-radius   : 20px;
                text-align      : center;
                height          : 40%;
                transform       : translate(-50%, -50%);
                display         : flex;
                justify-content : space-evenly;
                flex-direction  : column;
                align-items     : center;
                padding         : 20px 0;

                .notify-title {
                    font-size  : 1.3rem;
                    font-family: var(--font-open);
                    color      : var(--primary);
                    font-weight: 600;
                }

                .notify-des {
                    font-family: var(--font-varela);
                    font-size  : 3rem;
                }



            }
        }

        .homepage-categories {

            padding-top     : 150px;
            background-color: #f8f8f8;

            .categories-content {
                width : 1200px;
                margin: 0 auto;

                display              : grid;
                grid-template-columns: 1fr 1fr;
                gap                  : 20px;
            }
        }

        .section-toy {
            background-color: #f8f8f8;
        }

        .watch-our-story {
            height          : 465px;
            text-align      : center;
            background-color: rgba(0, 0, 0, 0.3);
            color           : #fff;
            margin-bottom   : -10px;


            .watch-content {
                height: 100%;

                margin         : 0 auto;
                display        : flex;
                justify-content: center;
                align-items    : center;
                flex-direction : column;

                .watch-sub-title {
                    font-size  : 1.3rem;
                    font-family: var(--font-open);
                    font-weight: 600;
                }

                .watch-main-title {
                    font-size  : 3.6rem;
                    font-family: var(--font-varela);
                }

                .watch-description {
                    font-family: var(--font-open);
                    font-size  : 1.4rem;
                    width      : 60%;
                }

                .watch-button {
                    border             : none;
                    cursor             : pointer;
                    background-color   : var(--primary);
                    border-radius      : 50%;
                    overflow           : hidden;
                    width              : 64px;
                    height             : 64px;
                    transition         : ease;
                    transition-duration: .3s;
                    display            : flex;
                    justify-content    : center;
                    align-items        : center;
                    margin-top         : 20px;

                    &:hover {
                        scale: 1.05;

                    }

                    .play-btn {
                        width    : 24px;
                        height   : 24px;
                        color    : #fff;
                        transform: translateX(2px);
                    }
                }
            }
        }

        .made-a-web-flow {

            background-color: #f8f8f8;
            padding         : 150px 0;

            .made-web-flow-container {
                width : 1200px;
                margin: 0 auto;

                .made-web-flow-header {
                    text-align: center;

                    .made-web-sub-title {
                        font-size  : 1.3rem;
                        font-family: var(--font-open);
                        color      : var(--primary)
                    }

                    .made-web-main-title1 {
                        font-size  : 3.2rem;
                        font-family: var(--font-varela);
                        width      : 50%;
                        margin     : 0 auto;

                    }


                }

                .made-web-flow-content {
                    display              : grid;
                    grid-template-columns: 1fr 1fr;

                    margin-top: 100px;

                    .content-left {
                        .made-web-title {
                            margin-top : 80px;
                            font-family: var(--font-varela);
                            font-size  : 3.2rem;

                        }

                        .made-web-strike-through {
                            width           : 10%;
                            height          : 1px;
                            background-color: var(--primary);
                            margin          : 20px 0 25px 0;
                        }

                        .made-web-description {
                            font-size    : 1.4rem;
                            font-family  : var(--font-open);
                            color        : #999;
                            width        : 80%;
                            margin-bottom: 25px;
                        }


                    }

                    .content-right {
                        img {
                            width        : 570px;
                            height       : 425px;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }

        .subscribe-newsletter {
            background-color: #f8f8f8;
            padding-bottom  : 100px;

            .subscribe-newsletter-container {
                width           : 1200px;
                margin          : 0 auto;
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                background-color: #fff;
                min-height      : 176px;
                border-radius   : 20px;

                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);

                .content-left {
                    margin-left    : 50px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    gap            : 20px;

                    .send {
                        min-width       : 64px;
                        min-height      : 64px;
                        background-color: var(--primary);
                        border-radius   : 50%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;

                        .send-icon {
                            display  : inline-block;
                            font-size: 2.4rem;
                            color    : #fff;
                        }
                    }

                    .subscribe-description {
                        font-size  : 2.4rem;
                        font-family: var(--font-varela);
                        transform  : translateY(10px);


                        .discount {
                            color: var(--primary);
                        }
                    }
                }

                .content-right {
                    margin-right   : 50px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;

                    input {
                        width           : 385px;
                        height          : 50px;
                        border-radius   : 50px;
                        font-size       : 1.4rem;
                        padding         : 2px 28px;
                        margin-right    : 10px;
                        border          : 2px solid #e5e5e5;
                        background-color: #f8f8f8;
                        outline         : none;

                        &:focus {
                            border-color: var(--primary);
                        }
                    }
                }
            }
        }

        .instagram-info {
            background-color: #f8f8f8;

            .instagram-info-container {
                width : 1200px;
                margin: 0 auto;

                .instagram-info-header {
                    text-align: center;

                    .instagram-info-sub-header {
                        font-family: var(--font-open);
                        font-size  : 1.3rem;
                        color      : var(--primary);
                    }

                    .instagram-info-main-header {
                        font-family  : var(--font-varela);
                        font-size    : 3.2rem;
                        margin-bottom: 50px;
                    }
                }

                .instagram-info-content {
                    text-align    : center;
                    padding-bottom: 100px;

                    .list-link {
                        display              : grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        margin-bottom        : 50px;
                        gap                  : 20px 14px;

                        p {
                            // width : 185px;
                            // height: 185px;

                            img {
                                width              : 100%;
                                height             : 100%;
                                border-radius      : 20px;
                                transition         : ease;
                                transition-duration: .3s;

                                &:hover {
                                    scale: 1.05;
                                }
                            }
                        }

                    }
                }
            }
        }


    }
}